
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<section class="demo-trends-section">
    <h2 class="title">
        Rehabilitation
        <span></span>
    </h2>
    <br>
    <br>

    <!-- Bar chart -->
    <div class="row">
        <div class="col-md-12">
            <div
                data-theme-flot-chart
                data-data="flotData"
                data-options="flotOptions"
                style="width: 100%; height: 400px;">
            </div>
        </div>
    </div>

    <!-- Extra info -->
    <div class="row">
    </div>

</section>
