/**
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 */

.ui-explorer-container {

    header {
        margin: 15px auto 0;
    }

    .ui-explorer-item {
        display: block;
        margin: 25px auto;
        text-align: center;
    }

    footer {
        margin: 15px auto 0;
        padding: 10px;
        color: #999;
        border-top: 1px solid #444;
    }
}
