
<!-- Copyright Heddoko(TM) 2015, all rights reserved. -->

<div class="ui-editable-fields">

    <h3 ng-if="heading" class="title">
        {{ heading }}
        <span></span>
    </h3>

    <div class="row" ng-switch="state">

        <!-- Editable field -->
        <div ng-switch-when="editing" class="col-sm-12">
            <textarea
                ng-if="inputType == 'textarea'"
                ng-model="model[key]"
                class="form-control">
            </textarea>

            <div ng-if="inputType == 'text'" class="input-group">
                <span class="input-group-btn">
                    <button ng-click="cancel()" title="Cancel" class="btn btn-danger" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <button ng-click="save()" title="Save" class="btn btn-default" type="button">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                </span>

                <input
                    ng-model="model[key]"
                    type="text"
                    class="form-control">
            </div>
        </div>

        <!-- Saving notice -->
        <div ng-switch-when="saving" class="col-sm-12 text-muted">
            {{ model[key] || empty }}
            <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>

        <!-- Displayed field -->
        <div ng-switch-default class="col-sm-12 ui-editable-field-value">
            <a ng-click="edit()" href="javascript:;">
                <span class="edit-text">
                    {{ model[key] || empty }}
                </span>
                <i class="edit-icon fa fa-pencil"></i>
            </a>
        </div>
    </div>
</div>
