<header class="clearfix">
	<div class="top-nav">
		<ul class="nav-left list-unstyled">

            <!-- Menu button (shows up in mobile views) -->
			<li>
				<div class="menu-button" toggle-off-canvas>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</li>

            <!-- Menu button (shows up on desktop views) -->
			<!-- <li>
				<a href="#/" data-toggle-min-nav class="toggle-min">
                    <i class="fa fa-bars"></i>
                </a>
			</li> -->

            <!-- Spacer, to account for space lost by removing menu button -->
            <li style="display: block; width: 20px; height: 1px;"></li>

            <!-- Settings page -->
            <li class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="Rover.browseTo.settings()">
                        Settings &nbsp;&nbsp;<i class="fa fa-cog"></i>
                    </button>
                </div>
            </li>

            <!-- Group dropdown -->
			<li ng-hide="data.group.list.length === 0">
                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        {{ data.group.selected.name +' ('+ data.group.selected.sport_name +')' }}
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul class="dropdown-menu">
                        <li ng-repeat="group in data.group.list">
                            <a href="javascript:;" ng-click="Rover.state.group.selected = group">
                                {{ group.name +' ('+ group.sport_name +')' }}
                            </a>
                        </li>
                    </ul>

                    <!-- Link to group page -->
                    <button
                        type="button"
                        class="btn btn-primary"
                        ng-click="Rover.browseTo.group(data.group.selected)">

                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </li>

            <!-- Member dropdown -->
			<li ng-hide="data.member.list.length === 0">
                <div class="btn-group">

                    <!-- Face of dropdown -->
                    <button
                        type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                        {{ data.member.selected.first_name +' '+ data.member.selected.last_name }}
                        <span class="caret"></span>
                    </button>

                    <!-- Contents of dropdown -->
                    <ul class="dropdown-menu">
                        <li ng-repeat="member in data.member.list">
                            <a href="javascript:;" ng-click="Rover.state.member.selected = member">
                                {{ member.first_name +' '+ member.last_name }}
                            </a>
                        </li>
                    </ul>

                    <!-- Link to profile page -->
                    <button
                        type="button"
                        class="btn btn-primary"
                        ng-click="Rover.browseTo.member(data.member.selected)">

                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
			</li>
		</ul>

        <!-- Log out -->
		<ul class="nav-right-button list-unstyled pull-right">
			<li>
				<a ng-click="endSession();" ng-href='/auth/logout' class="btn btn-logout">
					LOGOUT &nbsp;&nbsp;<i class="fa fa-sign-out"></i>
				</a>
			</li>
		</ul>
	</div>
</header>
