
<div class="row">
    <div class="col-sm-4 text-right">
        {{ label }}
    </div>

    <div class="col-sm-8" ng-switch="inputType">

        <!-- Date -->
        <div ng-switch-when="date">
            <b ng-show="state != 'editing'">
                {{ display || model[key] | date:'MMMM d, yyyy' }}
            </b>

            <input
                ng-show="state == 'editing'"
                ng-model="model[key]"
                ng-disabled="isDisabled"
                ng-required="isRequired"
                type="text"
                class="form-control">
        </div>

        <!-- Gender -->
        <div ng-switch-when="gender">
            <b ng-show="state != 'editing'">
                {{ model[key] }}
            </b>

            <select
                ng-show="state == 'editing'"
                ng-model="model[key]"
                ng-selected="model[key]"
                ng-disabled="isDisabled"
                ng-required="isRequired"
                class="form-control">

                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
        </div>

        <!-- Default -->
        <div ng-switch-default>
            <b ng-show="state != 'editing'">
                {{ display || model[key] }}
            </b>

            <input
                ng-show="state == 'editing'"
                ng-model="model[key]"
                ng-disabled="isDisabled"
                ng-required="isRequired"
                type="text"
                class="form-control">
        </div>
    </div>
</div>
