
<!-- Copyright Heddoko(TM) 2016, all rights reserved. -->

<table class="table table-striped">

    <!-- Heading -->
    <thead>
        <tr>
            <td ng-repeat="title in config.detailsLayoutTitles track by title.key" class="text-center">
                {{ ::title.title }}
            </td>
        </tr>
    </thead>

    <tbody>
        <!-- Parent folder -->
        <tr ng-if="parentFolder">

        </tr>

        <!-- Folders -->
        <tr ng-repeat="folder in folders track by $index">

        </tr>

        <!-- Files -->
        <tr ng-repeat="file in files track by $index">
            <td ng-repeat="title in config.detailsLayoutTitles track by title.key" class="text-center">
                {{ file[title.key] }}
            </td>
        </tr>
    </tbody>
</table>
