
<div class="panel panel-default">
    <div class="panel-heading">
        Avatar
    </div>

    <div class="panel-body">

        <!-- Avatar preview -->
        <div class="row">
            <div class="col-sm-12">
                <img ngf-src="avatar || group.photo_src" style="width: 100%">
            </div>
        </div>
        <br>

        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    ngf-select="uploadPhoto($file)"
                    ngf-drop
                    ng-model="avatar"
                    accept="image/*"
                    ngf-pattern="'image/*'"
                    ngf-capture="'camera'"
                    ngf-min-height="100"
                    ngf-max-size="2MB"
                    class="btn btn-default">

                    Select or drag &amp; drop a photo
                </button>
            </div>
        </div>
    </div>
</div>
