
<div class="panel panel-default">
    <div class="panel-heading">
        Upload a photo
    </div>

    <div class="panel-body">

        <!-- Demo -->
        <div
            ng-click="Rover.alert('demo')"
            style="
            display: block;
            margin: 0 auto;
            height: 260px;
            width: 260px;
            line-height: 260px;
            font-size: .8em;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;">

            Photo
        </div>
    </div>
</div>
