
<div class="page page-dashboard">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb-alt">
        <li>
            <a class="active" href="javascript:;" ng-click="Rover.browseTo.path('/')">
                Dashboard
            </a>
        </li>
        <li>
            <a class="active" href="javascript:;" ng-click="">
                Teams
            </a>
        </li>
    </ol>

    <!-- List of groups -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Teams
        </div>

        <div class="panel-body">
            <div class="row">
                <div ng-hide="data.group.list.length > 0" class="col-sm-12">
                    You don't have any teams yet! Create one below to get started.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a
                        ng-repeat="group in data.group.list"
                        ng-click="Rover.browse.group(group)"
                        href="javascript:;"
                        class="btn btn-primary btn-metro">

                        <object
                            style="pointer-events:none;"
                            type="image/svg+xml"
                            data="/images/sports/{{group.sport_id}}.svg" />

                        <span>{{group.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
