/**
 *
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 *
 * @brief   Styles for selectize inputs.
 * @author  Francis Amankrah (frank@heddoko.com)
 * @date    November 2015
 */
 .selectize-control::before {
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    right: 16px;
    width: 16px;
    height: 16px;
    background: url(../images/ui/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
 }
.selectize-control.loading {
    text-align: left;
}
.selectize-control.loading::before {
    opacity: 0.4;
}

.selectize-dropdown-content .highlight {
    background-color: $heddokogreen;
    color: #333;
}
