
<div class="page page-dashboard">
    <header>
        <h1>
            Teams
            <i class="fa fa-users"></i>
            <span></span>
        </h1>
    </header>

    <!-- Actions -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="pull-right">
                <button
                    ng-click="global.browseTo.path('group/create')"
                    class="btn btn-default">

                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>

    <a
        ng-repeat="group in global.state.group.list"
        ng-show="group.id"
        ng-click="global.browseTo.group(group)"
        href="javascript:;"
        class="btn btn-primary btn-metro"
        style="background-image: url({{ group.avatarSrc || '' }});background-size: cover;">

        <span>{{ group.name | characters:15 }}</span>
    </a>
</div>
