
<div class="page page-dashboard">
    <header>
        <h1>
            Teams
            <i class="fa fa-users"></i>
            <span></span>
        </h1>

        <div class="sub-header">

            <!-- Create group button -->
            <a href="#/group/create" class="sub-header-btn">
                <button class="btn btn-default btn-circle btn-lg">
                    <i class="fa fa-plus"></i>
                </button>
            </a>
        </div>
    </header>

    <a
        ng-repeat="group in global.state.group.list track by $index"
        ng-show="group.id"
        ng-click="global.browseTo.group(group)"
        href="javascript:;"
        class="btn btn-primary btn-metro"
        style="background-image: url({{ group.avatarSrc || '' }}); background-size: cover;">

        <span>{{ group.name | characters:15 }}</span>
    </a>
</div>
