
<!-- Group summary -->
<div ng-show="group.id" class="page profile-page">
    <header>
        <h1>
            {{ group.name }} <i class="fa fa-users"></i>
            <span></span>
        </h1>

        <div class="sub-header">

            <!-- Create profile button -->
            <a href="#/profile/create" class="sub-header-btn">
                <button class="btn btn-primary btn-circle btn-lg">
                    <i class="fa fa-user-plus"></i>
                </button>
            </a>

            <!-- Delete group button -->
            <a
                ng-show="group.id > 0"
                data-toggle="modal"
                data-target="#deleteGroupConfirmation"
                href="javascript:;"
                class="sub-header-btn">

                <button class="btn btn-danger btn-circle btn-lg">
                    <i class="fa fa-trash"></i>
                </button>
            </a>

            <!-- Delete confirmation -->
            <div class="modal fade" id="deleteGroupConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p ng-show="global.state.profile.filtered.length > 0">
                                Are you sure you want to delete <b>{{ group.name }}</b>
                                and the {{ global.state.profile.filtered.length }}
                                associated athletes?
                            </p>
                            <p ng-show="global.state.profile.filtered.length === 0">
                                Are you sure you want to delete <b>{{ group.name }}</b>?
                            </p>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button ng-click="deleteGroup()" type="button" class="btn btn-primary" data-dismiss="modal">
                                Yes, delete {{ group.name }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
    	<div class="row">

            <!-- Avatar -->
    		<div class="col-xs-12 col-md-6 col-lg-4">
                <div class="text-center profile-avatar">
                    <ui-avatar
                        data-upload-endpoint="uploadAvatarEndpoint"
                        data-success-callback="uploadAvatarCallback"
                        data-src="group.avatarSrc">
                    </ui-avatar>
                </div>
    		</div>

            <!-- Group details -->
            <div class="col-xs-12 col-md-6 col-lg-8">
                <ui-editable-fields
                    data-id="groupDetails"
                    data-model="group"
                    data-save="saveGroupDetails"
                    data-save-callback="saveGroupDetailsCallback"
                    data-heading="Details for {{ group.name }}">

                    <!-- Group name -->
                    <ui-editable-field
                        data-label="Name"
                        data-key="name"
                        data-required="true">
                    </ui-editable-field>

                    <!-- Tags -->
                    <ui-editable-field
                        data-label="Sport"
                        data-key="tags"
                        data-type="tag">
                    </ui-editable-field>

                    <!-- Managers -->
                    <ui-editable-field
                        data-label="Coach"
                        data-type="placeholder"
                        data-display="Rick Springfield">
                    </ui-editable-field>

                    <!-- Profiles count -->
                    <ui-editable-field
                        data-label="Number of athletes"
                        data-type="placeholder"
                        data-display="10">
                    </ui-editable-field>

                    <!-- Date created -->
                    <ui-editable-field
                        data-label="Date created"
                        data-key="createdAt"
                        data-type="date"
                        data-required="true">
                    </ui-editable-field>

                    <!-- Date modified -->
                    <ui-editable-field
                        data-label="Date created"
                        data-key="updatedAt"
                        data-type="date"
                        data-required="true">
                    </ui-editable-field>
                </ui-editable-fields>
            </div>
        </div>
    </section>

    <!-- Profile list -->
    <div class="row">
        <br>

        <div ng-show="global.state.profile.filtered.length === 0" class="col-sm-12">
            The <b>{{ group.name }}</b> do not have any members yet. Add one to get started!
        </div>

        <div ng-show="global.state.profile.filtered.length > 0" class="col-sm-12">
            <a
                ng-repeat="profile in global.state.profile.filtered"
                href="#/profile/{{ profile.id }}"
                class="btn btn-primary btn-metro"
                style="background-image: url({{ profile.avatarSrc || '' }});">

                <div class="btn-title">{{ profile.firstName }}</div>
            </a>
        </div>

        <br>
    </div>

    <!-- Notes -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Notes
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- No group selected -->
<div ng-show="group.id === 0" class="page">
    <h1 class="text-center">No group selected</h1>
    <br>

    <div class="text-center">
        Please select a group to view its details.
        <br>

        You can also take this opportunity to
        <a href="#/group/create">create one</a>.
    </div>
</div>
