/**
 * Copyright Heddoko(TM) 2015, all rights reserved.
 *
 * @author Francis Amankrah (frank@heddoko.com)
 * @date   December 2015
 */


@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url(/public/fonts/ProximaNova-Regular.eot) format('embedded-opentype'),
        // url(/public/fonts/ProximaNova-Regular.woff2) format('woff2'),
        url(/public/fonts/ProximaNova-Regular.woff) format('woff'),
        url(/public/fonts/ProximaNova-Regular.ttf) format('truetype'),
        url(/public/fonts/ProximaNova-Regular.svg) format('svg');
}

@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url(/public/fonts/ProximaNova-Light.eot) format('embedded-opentype'),
        // url(/public/fonts/ProximaNova-Light.woff2) format('woff2'),
        url(/public/fonts/ProximaNova-Light.woff) format('woff'),
        url(/public/fonts/ProximaNova-Light.ttf) format('truetype'),
        url(/public/fonts/ProximaNova-Light.svg) format('svg');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        // url(/public/fonts/ProximaNova-Bold.eot) format('embedded-opentype'),
        // url(/public/fonts/ProximaNova-Bold.woff2) format('woff2'),
        // url(/public/fonts/ProximaNova-Bold.woff) format('woff'),
        url(/public/fonts/ProximaNova-Bold.ttf) format('truetype'),
        // url(/public/fonts/ProximaNova-Bold.svg) format('svg')
        ;
}
