
<div class="panel-heading text-center">
    Overall Score
</div>

<div class="panel-body text-center">

    <!-- Total score -->
    <div class="row">
        <div class="col-sm-12">
            Total Test Score
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            TODO: bar graph
        </div>
    </div>

    <!-- Movement Efficiency -->
    <div class="row">
        <div class="col-sm-12">
            Movement Efficiency
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            TODO: circular graph
        </div>
    </div>
    
</div>
