
<div class="panel panel-default">
    <div class="panel-heading">
        Details for {{ data.group.selected.name }}
    </div>

    <div class="panel-body">

        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 btn-group">
                <button
                    type="button"
                    ng-click="Rover.alert('Demo')"
                    class="btn btn-default"
                    name="button">

                    Edit
                </button>
                <button
                    type="button"
                    ng-click="Rover.alert('Demo')"
                    class="btn btn-danger"
                    name="button">

                    Delete
                </button>
            </div>
        </div>

        <!-- Details -->
        <div class="row">
            <div class="col-sm-12">
                ...
            </div>
        </div>

    </div>
</div>
