
<div class="panel panel-default">
    <div class="panel-heading">
        {{ global.state.profile.selected.first_name }}'s details
    </div>

    <div class="panel-body">

        <div data-ui-editable-list-container>

            <!-- First name -->
            <div
                data-ui-editable-list-item
                data-label="First Name"
                data-value="profile.first_name">
            </div>

            <!-- Last name -->
            <div
                data-ui-editable-list-item
                data-label="Last Name"
                data-value="profile.last_name">
            </div>

            <!-- Profile creation date -->
            <div
                data-ui-editable-list-item
                data-label="Profile Created"
                data-display="{{ profile.created_at_formatted }}"
                data-value="profile.created_at"
                data-type="date">
            </div>

            <!-- Height -->
            <div
                data-ui-editable-list-item
                data-label="Height"
                data-display="{{ profile.feet }}&quot; {{ profile.inches }}'"
                data-value="profile.height_cm">
            </div>

            <!-- Weight -->
            <div
                data-ui-editable-list-item
                data-label="Weight"
                data-display="{{ profile.weight_lbs }} lbs"
                data-value="profile.weight_lbs">
            </div>

            <!-- Primary Sport -->
            <div
                data-ui-editable-list-item
                data-label="Primary Sport"
                data-value="profile.primary_sport">
            </div>

            <!-- Primary Position -->
            <div
                data-ui-editable-list-item
                data-label="Primary Position"
                data-value="profile.primary_position">
            </div>

        </div>

    </div>
</div>
