
<div class="panel panel-default">
    <div class="panel-heading">
        Avatar
    </div>

    <div class="panel-body">

        <!-- Avatar preview -->
        <div class="row">
            <div class="col-sm-12">
                <img ngf-src="file" style="width: 100%">
            </div>
        </div>
        <br>

        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <button
                    ng-hide="file"
                    ngf-select
                    ngf-drop
                    ng-model="file"
                    accept="image/*"
                    ngf-pattern="'image/*'"
                    ngf-capture="'camera'"
                    ngf-min-height="100"
                    ngf-max-size="2MB"
                    class="btn btn-default">

                    Select or drag &amp; drop a photo
                </button>

                <span ng-show="file">(demo)</span>
            </div>
        </div>
    </div>
</div>
