
<div class="page page-dashboard">

    <div class="row">
        <div class="col-sm-12">

            <!-- Breadcrumbs -->
            <div class="col-sm-12 col-md-6">
                <div data-ng-include="'views/partials/breadcrumbs.html?' + global.assetVersion"></div>
            </div>

            <!-- Actions -->
            <div class="col-sm-12 col-md-6">
                <div class="btn-group pull-right">

                    <!-- Delete group button -->
                    <button
                        ng-show="group.id > 0"
                        data-toggle="modal"
                        data-target="#deleteGroupConfirmation"
                        class="btn btn-danger">

                        Delete <b>{{ group.name }}</b>
                    </button>

                    <!-- Delete confirmation -->
                    <div class="modal fade" id="deleteGroupConfirmation">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p ng-show="global.state.profile.list.length > 0">
                                        Are you sure you want to delete <b>{{ group.name }}</b>
                                        and the {{ global.state.profile.list.length }}
                                        associated athletes?
                                    </p>
                                    <p ng-show="global.state.profile.list.length === 0">
                                        Are you sure you want to delete <b>{{ group.name }}</b>?
                                    </p>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button ng-click="deleteGroup()" type="button" class="btn btn-primary" data-dismiss="modal">
                                        Yes, delete {{ group.name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Edit group button -->
                    <button
                        ng-show="group.id > 0"
                        ng-click="Rover.browseTo.path('group/edit')"
                        class="btn btn-default">

                        Edit <b>{{ group.name }}</b>
                    </button>

                    <!-- Create profile button -->
                    <button
                        ng-click="Rover.browseTo.path('profile/create')"
                        class="btn btn-default">

                        Add an athlete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile list -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Athletes in {{ global.state.group.selected.name }}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-show="global.state.profile.list.length === 0">
                        The <b>{{ global.state.group.selected.name }}</b> do not have any
                        members yet. Add one above to get started!
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <a
                        href="javascript:;"
                        class="btn btn-primary btn-metro"
                        ng-repeat="profile in global.state.profile.list"
                        ng-click="Rover.browseTo.profile(profile)"
                        style="background-image: url({{ profile.avatar_src || '' }});background-size: cover;">

                        <div class="btn-title">{{ profile.first_name }}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
