
<div class="page page-dashboard">

    <div class="row">
        <!-- Breadcrumbs -->
        <div class="col-sm-12 col-md-6">
            <div data-ng-include="'views/partials/breadcrumbs.html?' + global.assetVersion"></div>
        </div>

        <!-- Actions -->
        <div class="col-sm-12 col-md-6">
            <div class="btn-group pull-right">

                <!-- Delete profile button -->
                <button
                    ng-show="profile.id > 0"
                    data-toggle="modal"
                    data-target="#deleteProfileConfirmation"
                    class="btn btn-danger">

                    Delete <b>{{ profile.first_name }}</b>
                </button>

                <!-- Delete confirmation -->
                <div class="modal fade" id="deleteProfileConfirmation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to delete <b>{{ profile.first_name }}
                                    {{ profile.last_name }}</b>'s profile?
                                </p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button ng-click="deleteProfile()" type="button" class="btn btn-primary" data-dismiss="modal">
                                    Yes, delete {{ profile.first_name }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit profile button -->
                <button
                    ng-show="profile.id > 0"
                    ng-click="Rover.browseTo.path('profile/edit')"
                    class="btn btn-default">

                    Edit
                </button>

                <!-- Create profile button -->
                <button
                    ng-click="Rover.browseTo.path('profile/create')"
                    class="btn btn-default">

                    Add another athlete
                </button>
            </div>
        </div>
    </div>

    <section>
    	<div class="row">

            <!-- Member details -->
    		<div class="col-md-6 col-sm-12">
                <div data-ng-include="'views/profile/partials/details.html?' + global.assetVersion"></div>
    		</div>

            <!-- Medical information -->
    		<div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Medical Information
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ profile.underlying_medical || 'No medical information provided.' }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Previous Injuries
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ profile.previous_injuries || 'No previous injuries' }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Other Notes
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ profile.notes || 'No other notes' }}
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </section>

    <section>
        <div class="row">

            <!-- Test FMS -->
            <div class="col-sm-12 col-md-6">
                <div ng-include-src="'views/dashboard-v2/member-partials/test-fms-graph.html?' + global.assetVersion"></div>
            </div>

            <!-- Total FMS -->
            <div class="col-sm-12 col-md-6">
                <div ng-include-src="'views/dashboard-v2/member-partials/total-fms-graph.html?' + global.assetVersion"></div>
            </div>
        </div>
    </section>

    <section data-ng-show="global.isLocal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Debug
                        </div>

                        <div class="panel-body">
                            Profile alias: {{ profile }} <br> <br>
                            Profile global: {{ global.state.profile.selected }} <br>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</div>
